* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  /* Altura de 100% */
}

body {
  font: 14px;
  font-family: sans-serif;
  background-color: #EFEFEF;
}

a {/* Retira o sublinhado dos links */
  text-decoration: none;
}

ul{/* Retira a marcação da lista '°' */
  list-style: none;
}

button{/* mostra um cursor sobre o botão */
  cursor: pointer;
}